n8n-workflows/02-daily-report.json
{
    "name": "TexaCore — Daily Financial Report (REST API)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 18,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            },
            "id": "daily-trigger",
            "name": "⏰ Daily at 6 PM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://wzkklenfsaepegymfxfz.supabase.co/rest/v1/rpc/get_daily_stats",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "sb_publishable_rxiau7DKoVelPDOs6vh7Xg_S7yxJQoN"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer sb_publishable_rxiau7DKoVelPDOs6vh7Xg_S7yxJQoN"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{}",
                "options": {}
            },
            "id": "query-today",
            "name": "📊 Get Daily Stats (API)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://wzkklenfsaepegymfxfz.supabase.co/rest/v1/rpc/get_fund_balances",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "sb_publishable_rxiau7DKoVelPDOs6vh7Xg_S7yxJQoN"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer sb_publishable_rxiau7DKoVelPDOs6vh7Xg_S7yxJQoN"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{}",
                "options": {}
            },
            "id": "query-balances",
            "name": "💰 Get Fund Balances (API)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                460
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": []
                },
                "combinationMode": "multiplex",
                "options": {}
            },
            "id": "merge-data",
            "name": "🔗 Merge Data",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                680,
                350
            ]
        },
        {
            "parameters": {
                "jsCode": "const stats = $('📊 Get Daily Stats (API)').first().json;\nconst funds = $('💰 Get Fund Balances (API)').first().json;\n\nconst fmt = (n) => Number(n || 0).toLocaleString('en-US', {minimumFractionDigits: 2});\n\nlet fundLines = '';\ntry {\n  if (Array.isArray(funds)) {\n    fundLines = funds.map(f => \n      `   ${f.code} | ${f.name}: ${fmt(f.balance)} SAR`\n    ).join('\\n');\n  }\n} catch(e) {\n  fundLines = '   لا توجد بيانات';\n}\n\nconst today = new Date().toLocaleDateString('ar-SA', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nconst message = `📊 *التقرير اليومي — TexaCore ERP*\n━━━━━━━━━━━━━━━━━━━━\n📅 ${today}\n\n📋 *ملخص القيود:*\n   📄 إجمالي القيود: ${stats.total_entries || 0}\n   ✅ مرحّلة: ${stats.posted_entries || 0}\n   📝 مسودة: ${stats.draft_entries || 0}\n\n💹 *ملخص مالي:*\n   🟢 إجمالي المدين: ${fmt(stats.total_debit)} SAR\n   🔴 إجمالي الدائن: ${fmt(stats.total_credit)} SAR\n\n📈 *حركة اليوم:*\n   📜 قيود يومية: ${stats.journal_count || 0}\n   💵 سندات قبض: ${stats.receipt_count || 0} (${fmt(stats.total_receipts)} SAR)\n   💳 سندات صرف: ${stats.payment_count || 0} (${fmt(stats.total_payments)} SAR)\n   🏦 يومية صندوق: ${stats.cash_count || 0}\n\n💰 *أرصدة الصناديق والبنوك:*\n${fundLines || '   لا توجد أرصدة'}\n\n━━━━━━━━━━━━━━━━━━━━\n🤖 تقرير آلي — TexaCore ERP`;\n\nreturn [{ json: { message } }];"
            },
            "id": "build-report",
            "name": "📋 Build Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                350
            ]
        },
        {
            "parameters": {
                "chatId": "866145826",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-report",
            "name": "📨 Send Report",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1120,
                350
            ],
            "credentials": {
                "telegramApi": {
                    "id": "TELEGRAM_CREDENTIAL_ID",
                    "name": "TexaCore Telegram Bot"
                }
            }
        }
    ],
    "connections": {
        "⏰ Daily at 6 PM": {
            "main": [
                [
                    {
                        "node": "📊 Get Daily Stats (API)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "💰 Get Fund Balances (API)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📊 Get Daily Stats (API)": {
            "main": [
                [
                    {
                        "node": "🔗 Merge Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "💰 Get Fund Balances (API)": {
            "main": [
                [
                    {
                        "node": "🔗 Merge Data",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "🔗 Merge Data": {
            "main": [
                [
                    {
                        "node": "📋 Build Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📋 Build Report": {
            "main": [
                [
                    {
                        "node": "📨 Send Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "TexaCore ERP"
        },
        {
            "name": "Daily Reports"
        }
    ]
}