n8n-workflows/02-qr-scan-workflow.json
{
    "name": "TexaCore — Advanced Advanced Features Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "texacore-qr-scans",
                "responseMode": "onReceived",
                "responseData": "allEntries",
                "options": {}
            },
            "id": "webhook-qr",
            "name": "📱 QR Scan Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "texacore-qr-scans"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-scan-data",
                            "leftValue": "={{ $json.body.new.qr_code_id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-valid-scan",
            "name": "✅ Filter Valid Scans",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM qr_codes WHERE id = $1",
                "additionalFields": {
                    "queryParams": "={{ $json.body.new.qr_code_id }}"
                }
            },
            "id": "postgres-get-qr",
            "name": "🐘 Get QR Details",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                680,
                300
            ],
            "credentials": {
                "postgres": "postgres-creds"
            }
        },
        {
            "parameters": {
                "message": "=🔔 *New QR Scan Detected*\n━━━━━━━━━━━━━━━━━\n📦 *Type:* {{ $json.entity_type }}\n🔢 *Code:* {{ $json.code }}\n🔄 *Status:* {{ $json.current_status }}\n━━━━━━━━━━━━━━━━━\n📍 *Action:* Scan Logged",
                "chatId": "866145826"
            },
            "id": "telegram-notify-scan",
            "name": "📨 Notify Manager",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                900,
                300
            ],
            "credentials": {
                "telegramApi": "telegram-creds"
            }
        }
    ],
    "connections": {
        "📱 QR Scan Webhook": {
            "main": [
                [
                    {
                        "node": "✅ Filter Valid Scans",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "✅ Filter Valid Scans": {
            "main": [
                [
                    {
                        "node": "🐘 Get QR Details",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🐘 Get QR Details": {
            "main": [
                [
                    {
                        "node": "📨 Notify Manager",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}