n8n-workflows/02-qr-scan-workflow.json
{
    "name": "TexaCore — QR Scan Processing Workflow (REST API)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "texacore-qr-scans",
                "responseMode": "onReceived",
                "responseData": "allEntries",
                "options": {}
            },
            "id": "webhook-qr",
            "name": "📱 QR Scan Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "texacore-qr-scans"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-scan-data",
                            "leftValue": "={{ $json.body.qr_code || $json.body.new?.qr_code_id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-valid-scan",
            "name": "✅ Filter Valid Scans",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://wzkklenfsaepegymfxfz.supabase.co/rest/v1/qr_codes?code=eq.{{ $json.body.qr_code || $json.body.new?.code }}&select=*",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "sb_publishable_rxiau7DKoVelPDOs6vh7Xg_S7yxJQoN"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer sb_publishable_rxiau7DKoVelPDOs6vh7Xg_S7yxJQoN"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.pgrst.object+json"
                        }
                    ]
                },
                "options": {}
            },
            "id": "rest-get-qr",
            "name": "🗄️ Get QR Details (REST)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "qr-found",
                            "leftValue": "={{ $json.id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-qr-exists",
            "name": "🔍 QR Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "msg-scan",
                            "name": "message",
                            "value": "=📱 *مسح QR Code جديد*\n━━━━━━━━━━━━━━━━━\n🏷️ *الكود:* {{ $('🗄️ Get QR Details (REST)').first().json.code }}\n📦 *النوع:* {{ $('🗄️ Get QR Details (REST)').first().json.entity_type }}\n🔄 *الحالة:* {{ $('🗄️ Get QR Details (REST)').first().json.current_status }}\n━━━━━━━━━━━━━━━━━\n⏰ {{ new Date().toLocaleString('ar-SA') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "format-scan-msg",
            "name": "📝 Format Scan Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {
                "chatId": "866145826",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-notify-scan",
            "name": "📨 Notify Manager",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1340,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "TELEGRAM_CREDENTIAL_ID",
                    "name": "TexaCore Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "msg-not-found",
                            "name": "message",
                            "value": "=⚠️ *QR Code غير موجود*\n━━━━━━━━━━━━━━━━━\n🔍 تم محاولة مسح كود غير مسجّل في النظام\n━━━━━━━━━━━━━━━━━\n⏰ {{ new Date().toLocaleString('ar-SA') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "format-not-found",
            "name": "❌ Not Found Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1120,
                440
            ]
        },
        {
            "parameters": {
                "chatId": "866145826",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "telegram-not-found",
            "name": "📨 Notify Not Found",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1340,
                440
            ],
            "credentials": {
                "telegramApi": {
                    "id": "TELEGRAM_CREDENTIAL_ID",
                    "name": "TexaCore Telegram Bot"
                }
            }
        }
    ],
    "connections": {
        "📱 QR Scan Webhook": {
            "main": [
                [
                    {
                        "node": "✅ Filter Valid Scans",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "✅ Filter Valid Scans": {
            "main": [
                [
                    {
                        "node": "🗄️ Get QR Details (REST)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🗄️ Get QR Details (REST)": {
            "main": [
                [
                    {
                        "node": "🔍 QR Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 QR Found?": {
            "main": [
                [
                    {
                        "node": "📝 Format Scan Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "❌ Not Found Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📝 Format Scan Message": {
            "main": [
                [
                    {
                        "node": "📨 Notify Manager",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "❌ Not Found Message": {
            "main": [
                [
                    {
                        "node": "📨 Notify Not Found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "TexaCore ERP"
        },
        {
            "name": "QR Codes"
        }
    ]
}