n8n-workflows/03-ai-telegram-assistant.json
{
    "name": "TexaCore — AI Telegram Assistant (REST + Gemini)",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "telegram-trigger",
            "name": "💬 Telegram Message",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "TELEGRAM_CREDENTIAL_ID",
                    "name": "TexaCore Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const message = $json.message?.text || '';\nconst chatId = $json.message?.chat?.id;\nconst userName = $json.message?.from?.first_name || 'User';\n\nconst msg = message.toLowerCase();\nlet intent = 'general';\nlet rpcFunction = '';\n\nif (msg.includes('رصيد') || msg.includes('balance') || msg.includes('أرصدة')) {\n  intent = 'balances';\n  rpcFunction = 'get_fund_balances';\n} else if (msg.includes('مبيعات') || msg.includes('sales') || msg.includes('إيرادات')) {\n  intent = 'sales';\n  rpcFunction = 'get_monthly_sales';\n} else if (msg.includes('مصروفات') || msg.includes('expenses') || msg.includes('مدفوعات')) {\n  intent = 'expenses';\n  rpcFunction = 'get_monthly_expenses';\n} else if (msg.includes('اليوم') || msg.includes('today')) {\n  intent = 'today';\n  rpcFunction = 'get_daily_stats';\n} else if (msg.includes('ملخص') || msg.includes('summary') || msg.includes('تقرير')) {\n  intent = 'summary';\n  rpcFunction = 'get_monthly_summary';\n}\n\nreturn [{\n  json: {\n    chatId,\n    userName,\n    originalMessage: message,\n    intent,\n    rpcFunction,\n    rpcUrl: rpcFunction ? 'https://wzkklenfsaepegymfxfz.supabase.co/rest/v1/rpc/' + rpcFunction : '',\n    needsDB: intent !== 'general'\n  }\n}];"
            },
            "id": "parse-intent",
            "name": "🧠 Parse Intent",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "needs-db",
                            "leftValue": "={{ $json.needsDB }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-needs-db",
            "name": "🔍 Needs Data?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('🧠 Parse Intent').first().json.rpcUrl }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "sb_publishable_rxiau7DKoVelPDOs6vh7Xg_S7yxJQoN"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer sb_publishable_rxiau7DKoVelPDOs6vh7Xg_S7yxJQoN"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{}",
                "options": {}
            },
            "id": "run-rpc",
            "name": "🗄️ Call Supabase RPC",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "const intent = $('🧠 Parse Intent').first().json.intent;\nconst userName = $('🧠 Parse Intent').first().json.userName;\nconst data = $input.first().json;\n\nconst fmt = (n) => Number(n || 0).toLocaleString('en-US', {minimumFractionDigits: 2});\nlet reply = '';\n\nswitch(intent) {\n  case 'balances': {\n    const funds = Array.isArray(data) ? data : [];\n    const lines = funds.map(d => `💰 ${d.code} | ${d.name}: *${fmt(d.balance)}* SAR`).join('\\n');\n    reply = `مرحباً ${userName} 👋\\n\\n🏦 *أرصدة الصناديق والبنوك:*\\n${lines || 'لا توجد أرصدة'}`;\n    break;\n  }\n  case 'sales': {\n    reply = `مرحباً ${userName} 👋\\n\\n📈 *مبيعات الشهر:*\\n   عدد السندات: ${data.count || 0}\\n   الإجمالي: *${fmt(data.total)}* SAR`;\n    break;\n  }\n  case 'expenses': {\n    reply = `مرحباً ${userName} 👋\\n\\n💸 *مصروفات الشهر:*\\n   عدد السندات: ${data.count || 0}\\n   الإجمالي: *${fmt(data.total)}* SAR`;\n    break;\n  }\n  case 'today': {\n    reply = `مرحباً ${userName} 👋\\n\\n📅 *حركة اليوم:*\\n   القيود: ${data.total_entries || 0}\\n   مرحّلة: ${data.posted_entries || 0}\\n   مدين: *${fmt(data.total_debit)}* SAR\\n   دائن: *${fmt(data.total_credit)}* SAR`;\n    break;\n  }\n  case 'summary': {\n    reply = `مرحباً ${userName} 👋\\n\\n📊 *ملخص الشهر الحالي:*\\n   إجمالي القيود: ${data.total_entries || 0}\\n   مرحّلة: ${data.posted || 0}\\n   المدين: *${fmt(data.total_debit)}* SAR\\n   الدائن: *${fmt(data.total_credit)}* SAR`;\n    break;\n  }\n}\n\nreturn [{ json: { reply, chatId: $('🧠 Parse Intent').first().json.chatId } }];"
            },
            "id": "format-reply",
            "name": "📋 Format Data Reply",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"أنت مساعد ذكي لنظام TexaCore ERP المحاسبي. أجب باللغة العربية بشكل مختصر ومفيد.\\n\\nيمكن للمستخدم سؤالك عن:\\n- رصيد / أرصدة: أرصدة الصناديق\\n- مبيعات: مبيعات الشهر\\n- مصروفات: مصروفات الشهر\\n- اليوم: حركة اليوم\\n- ملخص: ملخص شهري\\n\\nسؤال المستخدم: {{ $('🧠 Parse Intent').first().json.originalMessage }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 500\n  }\n}",
                "options": {}
            },
            "id": "gemini-reply",
            "name": "🤖 Gemini AI Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                440
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "ai-msg",
                            "name": "reply",
                            "value": "={{ $json.candidates ? $json.candidates[0].content.parts[0].text : 'عذراً، لم أتمكن من الإجابة. حاول مرة أخرى.' }}",
                            "type": "string"
                        },
                        {
                            "id": "ai-chat",
                            "name": "chatId",
                            "value": "={{ $('🧠 Parse Intent').first().json.chatId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "format-ai",
            "name": "📋 Format AI Reply",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1120,
                440
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.reply }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "send-db-reply",
            "name": "📨 Send Data Reply",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1340,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "TELEGRAM_CREDENTIAL_ID",
                    "name": "TexaCore Telegram Bot"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.reply }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "send-ai-reply",
            "name": "📨 Send AI Reply",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1340,
                440
            ],
            "credentials": {
                "telegramApi": {
                    "id": "TELEGRAM_CREDENTIAL_ID",
                    "name": "TexaCore Telegram Bot"
                }
            }
        }
    ],
    "connections": {
        "💬 Telegram Message": {
            "main": [
                [
                    {
                        "node": "🧠 Parse Intent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🧠 Parse Intent": {
            "main": [
                [
                    {
                        "node": "🔍 Needs Data?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🔍 Needs Data?": {
            "main": [
                [
                    {
                        "node": "🗄️ Call Supabase RPC",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "🤖 Gemini AI Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🗄️ Call Supabase RPC": {
            "main": [
                [
                    {
                        "node": "📋 Format Data Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📋 Format Data Reply": {
            "main": [
                [
                    {
                        "node": "📨 Send Data Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🤖 Gemini AI Reply": {
            "main": [
                [
                    {
                        "node": "📋 Format AI Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📋 Format AI Reply": {
            "main": [
                [
                    {
                        "node": "📨 Send AI Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "TexaCore ERP"
        },
        {
            "name": "AI Assistant"
        },
        {
            "name": "Gemini"
        }
    ]
}