n8n-workflows/04-sales-workflow-automation.json
{
    "name": "Sales Workflow Automation",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sales-workflow-event",
                "options": {
                    "responseMode": "lastNode"
                }
            },
            "id": "webhook-trigger",
            "name": "Sales Event Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.table }}",
                            "operation": "contains",
                            "value2": "status_history"
                        }
                    ]
                }
            },
            "id": "check-event-type",
            "name": "Is Status Change?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.record.doc_type }}",
                            "operation": "equals",
                            "value2": "sales_delivery"
                        }
                    ]
                }
            },
            "id": "check-delivery",
            "name": "Is Delivery?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                250
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT cs.code FROM custom_statuses cs WHERE cs.id = '{{ $json.record.to_status_id }}'",
                "additionalFields": {}
            },
            "id": "get-new-status",
            "name": "Get New Status Code",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                850,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-db",
                    "name": "Supabase DB"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.code }}",
                            "operation": "equals",
                            "value2": "delivered"
                        }
                    ]
                }
            },
            "id": "is-delivered",
            "name": "Status = Delivered?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1050,
                200
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT dn.*, c.name as customer_name FROM delivery_notes dn LEFT JOIN contacts c ON c.id = dn.customer_id WHERE dn.id = '{{ $node[\"Sales Event Webhook\"].json.record.doc_id }}'",
                "additionalFields": {}
            },
            "id": "get-delivery-details",
            "name": "Get Delivery Details",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                1250,
                150
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-db",
                    "name": "Supabase DB"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO sales_invoices (tenant_id, customer_id, warehouse_id, invoice_date, currency, exchange_rate, total_amount, subtotal, status, notes) VALUES ('{{ $json.tenant_id }}', '{{ $json.customer_id }}', '{{ $json.warehouse_id }}', NOW(), COALESCE('{{ $json.currency }}', 'SAR'), 1, COALESCE({{ $json.total_amount }}, 0), COALESCE({{ $json.subtotal }}, 0), 'posted', 'Auto-generated from Delivery #{{ $json.note_number }}') RETURNING *",
                "additionalFields": {}
            },
            "id": "auto-create-invoice",
            "name": "Auto-Create Invoice",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                1450,
                150
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-db",
                    "name": "Supabase DB"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO inventory_movements (tenant_id, company_id, movement_number, movement_date, movement_type, product_id, from_warehouse_id, quantity, reference_type, reference_id, notes, created_by) SELECT dn.tenant_id, dn.company_id, 'AUTO-' || TO_CHAR(NOW(), 'YYYYMMDD-HH24MISS') || '-' || ROW_NUMBER() OVER (), CURRENT_DATE, 'out', dni.product_id, dn.warehouse_id, dni.quantity_to_deliver, 'delivery_out', dn.id, 'n8n auto-deduction', dn.created_by FROM delivery_note_items dni JOIN delivery_notes dn ON dn.id = dni.delivery_note_id WHERE dn.id = '{{ $node[\"Get Delivery Details\"].json.id }}'",
                "additionalFields": {}
            },
            "id": "deduct-inventory",
            "name": "Deduct Inventory",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                1450,
                350
            ],
            "credentials": {
                "postgres": {
                    "id": "supabase-db",
                    "name": "Supabase DB"
                }
            }
        },
        {
            "parameters": {
                "channel": "",
                "text": "📦 تم تسليم الطلب\n\nالعميل: {{ $node[\"Get Delivery Details\"].json.customer_name }}\nرقم التسليم: {{ $node[\"Get Delivery Details\"].json.note_number }}\n\n✅ تم إنشاء الفاتورة تلقائياً\n📊 تم تحديث المخزون",
                "additionalFields": {}
            },
            "id": "notify-telegram",
            "name": "Notify (Telegram/Slack)",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1650,
                250
            ],
            "credentials": {
                "telegramApi": {
                    "id": "telegram-bot",
                    "name": "Telegram Bot"
                }
            }
        },
        {
            "parameters": {},
            "id": "no-op-end",
            "name": "No Action",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                650,
                400
            ]
        }
    ],
    "connections": {
        "Sales Event Webhook": {
            "main": [
                [
                    {
                        "node": "Is Status Change?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Status Change?": {
            "main": [
                [
                    {
                        "node": "Is Delivery?",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Delivery?": {
            "main": [
                [
                    {
                        "node": "Get New Status Code",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get New Status Code": {
            "main": [
                [
                    {
                        "node": "Status = Delivered?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Status = Delivered?": {
            "main": [
                [
                    {
                        "node": "Get Delivery Details",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Delivery Details": {
            "main": [
                [
                    {
                        "node": "Auto-Create Invoice",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Deduct Inventory",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Auto-Create Invoice": {
            "main": [
                [
                    {
                        "node": "Notify (Telegram/Slack)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "sales"
        },
        {
            "name": "automation"
        },
        {
            "name": "workflow"
        }
    ]
}